{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1>An admin page that only the account managers can see.</h1>
    <p>In this page, you can reassign roles and keep track of new accounts</p>
    <div class="table-responsive">
        {{ user_table }}
    </div>
    <div class="table-responsive">
        {{ role_table }}
        {{ team_table }}
    </div>
    <a href="{{ url_for('edit') }}" class="btn btn-success">Add a new user</a>
    <a href="{{ url_for('define') }}" class="btn btn-success">Add a new relationship</a>
{% endblock %}
