{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>A dashboard containing a list of requests for appeal.</h1>
    <p>However, this dashboard is only visible to the admin - or those people with permission</p>
    {{ request_table }}

    <form id="approve_form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.req_id) }}
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}
